{{#each this}}
  <li class="gallery__item">
    <h2>{{name}}</h2>
    <img src="{{flag}}" alt="Флаг {{name}}" width="320">
    <p>Столица: {{capital}}</p>
    <p>Валюта: {{currency}}</p>
    <p>официальный язык: {{language}}</p>
    <p>Население: {{population}} человек</p>

    {{#if infected}}
      <p>Всё плохо, есть вирус!!!</p>
    {{/if}}
    {{#unless infected}}
      <p>Всё ок, вируса нет!!!</p>
    {{/unless}}
  </li>
{{/each}}
